* {
    margin: 0;
    padding: 0;
}

.container {
    border: 2px solid red;
    border-radius: 5px;
    display: grid;
    /* grid-template-columns: 120px 100px; */
    grid-template-columns: 120px 100px auto 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 20px;
}

.item {
    border: 2px solid blue;
    border-radius: 5px;
    margin: 5px;
    height: 100px;

    /* width:100px;  */
}

.item-4 {
    /* grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; */

    /* short hand */
    /* grid-column:2/3;
    grid-row:1/2; */
}
.item-5{
    /* grid-column:3/4;
    grid-row:1/3; */
}